.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--spacing-7) var(--spacing-12);
  border: none;
  border-radius: var(--radius-xs);

  box-shadow: var(--shadow-md);
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.btn--primary {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn--outline,
.btn--ghost {
  background: var(--color-glass);
  color: var(--color-accent);
}

.btn--outline {
  border: var(--border-xs) solid var(--color-accent);
}

.btn--accent {
  border: var(--border-xs) solid var(--color-accent);

  background: var(--color-glass);
  color: var(--color-accent);
}

.btn:hover {
  opacity: 0.7;
}

/* TABLET */
@media (min-width: 48em) {
  .btn {
    padding: var(--spacing-9) var(--spacing-12);

    font-size: var(--font-size-lg);
  }
}

/* DESKTOP */
@media (min-width: 64em) {
  .btn {
    border-radius: var(--radius-sm);

    font-size: var(--font-size-xl);
  }
}
