.card__icon {
  border-radius: var(--radius-xs);
  background: var(--color-glass);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TITLE */
.card__title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* DESCRIPTION */
.card__desc {
  max-width: 14.6875rem;
  /* 235px */
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  line-height: var(--line-height-3xs);
}

/* LINK */
.card__link {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  text-decoration: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.card__link img {
  width: 1.25rem;
  height: 1.25rem;
}

/* =========================
   PRIMARY CARD
========================= */

.card--primary {
  width: fit-content;
  padding: 1.25rem 1.3125rem 1.875rem 1.25rem;
  background: var(--color-glass-20);
  border-radius: 1.25rem 5rem 1.25rem 1.25rem;
}

.card--primary .card__icon {
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: 1.25rem;

  border-radius: var(--radius-xs);
  box-shadow: var(--shadow-sm);
}

.card--primary .card__icon img {
  width: 1.875rem;
  height: 1.875rem;
}

.card--primary .card__title {
  margin-bottom: 1.25rem;
  color: var(--color-accent);
}

.card--primary .card__link {
  font-size: var(--font-size-xs);
  margin-top: 1.625rem;
  color: var(--color-accent);
}

.card--primary .card__link:hover {
  color: var(--color-white);
}

/* =========================
   SECONDARY CARD
========================= */

.card--secondary {
  max-width: fit-content;
  padding: 1.25rem 0 1.5rem 1.25rem;

  border: 0.1875rem solid var(--color-white-50);
  border-radius: 1.25rem;
}

.card--secondary .card__icon {
  width: 3.125rem;
  height: 3.125rem;

  margin: 0 7.375rem 1.875rem 0;
  border-radius: var(--radius-xs);
}

.card--secondary .card__icon img {
  width: 1.875rem;
  height: 1.875rem;
}

.card--secondary .card__title {
  height: 2.25rem;
  max-width: 9.75rem;
}

.card--secondary .card__link {
  margin-top: 1.3125rem;
  color: var(--color-white-50);
}

.card--secondary .card__link:hover {
  color: var(--color-accent);
}

/* =========================
   TABLET
========================= */

@media (min-width: 48rem) {
  .card--primary {
    padding: 2.5rem 3.5rem 4.625rem 2.5625rem;
    border-radius: 3.125rem 9.375rem 3.125rem 3.125rem;
  }

  .card--primary .card__icon {
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: 2.5rem;

    border-radius: var(--radius-md);
  }

  .card--primary .card__icon img {
    width: 4.375rem;
    height: 4.375rem;
  }

  .card--primary .card__title {
    margin-bottom: 1.875rem;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .card__desc {
    max-width: 22.0625rem;
    /* 353px */
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .card__link img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .card--primary .card__link {
    margin-top: 2.75rem;
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .card--secondary {
    padding: 2.5rem 0 3.125rem 2.5rem;
    border-radius: 3.125rem;
  }

  .card--secondary .card__icon {
    width: 4.375rem;
    height: 4.375rem;

    margin: 0 11.5625rem 2.5rem 0;
    border-radius: var(--radius-sm);
  }

  .card--secondary .card__icon img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .card--secondary .card__title {
    max-width: 14.125rem;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);

    display: flex;
    align-items: center;
  }

  .card--secondary .card__link {
    margin-top: 1.5625rem;
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64rem) {
  .card--primary {
    padding: 2.5rem 0 4.625rem 2.5625rem;
  }

  .card--primary .card__icon {
    margin-right: 19.375rem;
    /* 310px */
  }

  .card--secondary .card__icon {
    margin: 0 15rem 2.5rem 0;
  }

  .card--secondary .card__title {
    max-width: 16rem;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
    align-items: flex-start;
  }

  .card--secondary .card__link {
    margin-top: 3.3125rem;
  }
}

/* =========================
   TESTIMONIAL
========================= */

.testimonial {
  position: relative;
  z-index: 2;
  flex: 1;

  padding: 1.4375rem 1.4375rem 2.125rem;
  border-radius: 0.875rem;
  background: var(--color-glass-50);

  transition:
    background-color 150ms ease,
    color 150ms ease,
    box-shadow 150ms ease;
}

.testimonial:hover {
  background: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0 0.3125rem 0.625rem var(--color-black-25);
}

.testimonial:hover .testimonial__location,
.testimonial:hover .testimonial__quote,
.testimonial:hover .testimonial__highlight {
  color: var(--color-white);
}
