.card__icon {
  border-radius: var(--radius-xs);
  background: var(--color-glass);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TITLE */
.card__title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* DESCRIPTION */
.card__desc {
  max-width: 14.6875rem;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  line-height: var(--line-height-xs);
}

/* LINK */
.card__link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);

  text-decoration: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.card__link img {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

/* =========================
   PRIMARY CARD
========================= */

.card--primary {
  width: fit-content;
  padding: var(--spacing-9) var(--spacing-9) var(--spacing-15) var(--spacing-9);

  background: var(--color-glass-20);

  border-radius: var(--radius-sm) 5rem var(--radius-sm) var(--radius-sm);
}

.card--primary .card__icon {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);

  margin-bottom: var(--spacing-9);

  border-radius: var(--radius-xs);
  box-shadow: var(--shadow-sm);
}

.card--primary .card__icon img {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.card--primary .card__title {
  margin-bottom: var(--spacing-9);
  color: var(--color-accent);
}

.card--primary .card__link {
  margin-top: var(--spacing-12);
  max-width: fit-content;
  color: var(--color-white-50);
  font-size: var(--font-size-xs);
}

.card--primary .card__link:hover {
  color: var(--color-accent);
}

.card__arrow {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.card__arrow path {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.card__arrow path:first-child {
  stroke-width: 2;
}

.card__arrow path:last-child {
  stroke-width: 3;
}

.card__link:hover .card__arrow {
  color: var(--color-accent);
}

/* =========================
   SECONDARY CARD
========================= */

.card--secondary {
  max-width: fit-content;

  padding: var(--spacing-9) 0 var(--spacing-11) var(--spacing-9);

  border: 3px solid var(--color-white-50);
  border-radius: var(--radius-sm);
}

.card--secondary .card__icon {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);

  margin: 0 var(--spacing-38) var(--spacing-14) 0;

  border-radius: var(--radius-xs);
}

.card--secondary .card__icon img {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.card--secondary .card__title {
  height: 2.25rem;
  max-width: 9.75rem;
}

.card--secondary .card__link {
  margin-top: var(--spacing-9);
  color: var(--color-white-50);
  max-width: fit-content;
}

.card--secondary .card__link:hover {
  color: var(--color-accent);
}

/* =========================
   TABLET
========================= */

@media (min-width: 48em) {
  .card--primary {
    padding: var(--spacing-19) var(--spacing-27) var(--spacing-32)
      var(--spacing-19);

    border-radius: var(--radius-xl) 9.37rem var(--radius-xl) var(--radius-xl);
  }

  .card--primary .card__icon {
    width: 6.25rem;
    height: 6.25rem;

    margin-bottom: var(--spacing-19);

    border-radius: var(--radius-md);
  }

  .card--primary .card__icon img {
    width: var(--icon-size-2xl);
    height: var(--icon-size-2xl);
  }

  .card--primary .card__title {
    margin-bottom: var(--spacing-14);

    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .card__desc {
    max-width: 22rem;

    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .card__arrow {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }

  .card--primary .card__link {
    margin-top: var(--spacing-21);

    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .card--secondary {
    padding: var(--spacing-19) 0 var(--spacing-17) var(--spacing-19);

    border-radius: var(--radius-xl);
  }

  .card--secondary .card__icon {
    width: var(--icon-size-2xl);
    height: var(--icon-size-2xl);

    margin: 0 11.5rem var(--spacing-19) 0;

    border-radius: var(--radius-sm);
  }

  .card--secondary .card__icon img {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }

  .card--secondary .card__title {
    max-width: 14.1rem;

    display: flex;
    align-items: center;

    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .card--secondary .card__link {
    margin-top: var(--spacing-12);

    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64em) {
  .card--primary {
    padding: var(--spacing-19) 0 var(--spacing-32) var(--spacing-19);
  }

  .card--primary .card__icon {
    margin-right: 19.37rem;
  }

  .card--primary .card__title {
    max-width: fit-content;
  }

  .card--secondary .card__icon {
    margin: 0 15rem var(--spacing-19) 0;
  }

  .card--secondary .card__title {
    max-width: 16rem;

    align-items: flex-start;

    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .card--secondary .card__link {
    margin-top: var(--spacing-33);
  }
}

/* =========================
   TESTIMONIAL
========================= */

.testimonial {
  position: relative;
  z-index: 2;
  flex: 1;

  padding: var(--spacing-10) var(--spacing-10) var(--spacing-16);

  border-radius: var(--radius-xs);
  background: var(--color-glass-50);
}

.testimonial:hover {
  background: var(--color-accent);
  color: var(--color-white);
  box-shadow: var(--shadow-sm);
}

.testimonial:hover .testimonial__location,
.testimonial:hover .testimonial__quote,
.testimonial:hover .testimonial__highlight {
  color: var(--color-white);
}
