/* INPUT */
.input {
  flex: 1;

  padding: var(--spacing-md) 0 var(--spacing-md) var(--spacing-xl);

  border-radius: var(--radius-xs);

  background: transparent;
  border: 0.1875rem solid var(--color-glass-10);

  font-size: var(--font-size-xl);
}

.input:hover {
  border-color: var(--color-accent);
  color: var(--color-white);
}
