.menu {
  display: none;
}

@media (min-width: 1024px) {
  .menu {
    display: block;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  /* item */
  .menu__item a {
    position: relative;
    color: var(--color-white-50);
    font-size: var(--font-size-sm);
    text-decoration: none;
  }

  .menu__item a:hover {
    color: var(--color-white);
  }

  /* active */
  .menu__item.menu__item--active a {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
  }
}
