.menu {
  display: none;
}

.menu__item a {
  color: var(--color-white-50);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.menu__item a:hover {
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

/* active */
.menu__item.menu__item--active a {
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

@media (min-width: 64em) {
  .menu {
    display: block;
  }

  .menu__list {
    display: flex;

    gap: var(--spacing-md);
  }

  /* item */
  .menu__item a {
    font-size: var(--font-size-xl);
  }
}
