/* SECTION */
.newsletter {
  position: relative;
  margin-top: -200px;
  z-index: 2;
  line-height: var(--line-height-md);
}

/* CARD */
.newsletter__card {
  background: var(--color-accent);
  border-radius: 50px;
  text-align: center;
  padding: 70px 0 107px;
  max-width: 1031px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* class base cho effect */
.newsletter__wrapper {
  position: relative;
}

.newsletter__wrapper::before {
  content: '';
  position: absolute;
  height: 430px;
  width: 1070px;
  background: var(--color-glass-10);
  border-radius: 50px;
  z-index: 0;
  inset: 0;
  margin: auto;
}

/* TITLE */
.newsletter__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  margin-bottom: 20px;
  line-height: var(--line-height-lg);
}

/* DESC */
.newsletter__desc {
  color: var(--color-white);
  margin-bottom: 40px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

/* FORM */
.newsletter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: 30px;
  overflow: hidden;
  height: 75px;
  max-width: 550px;
  margin: 0 auto;
}

/* INPUT */
.newsletter__input {
  flex: 1;
  border: none;
  padding: 28px 40px;
  font-size: var(--font-size-lg);
  outline: none;
}

/* BUTTON */
.newsletter__submit {
  width: 100px;
  height: 75px;
  background: var(--color-primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newsletter__submit img {
  padding: 17px 30px;
}

.newsletter__submit:hover {
  transition: opacity 150ms ease;
  opacity: 0.7;
}
