/* SECTION */
.reasons {
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 58px 0 80px;
  color: var(--color-white);
  line-height: var(--line-height-md);
}

/* HEADER */
.reasons__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 255px;
  margin-bottom: 40px;
}

.reasons__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lg);
}

.reasons__desc {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-white-50);
  max-width: 537px;
  line-height: var(--line-height-sm);
}

/* GRID */
.reasons__grid {
  display: flex;
  align-items: end;
  gap: 70px;
}

/* BASE CARD */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  SMALL CARD WRAPPER */
.reasons__secondary-cards {
  display: flex;
  gap: 70px;
  align-items: flex-end;
}
