.registration {
  padding: 40px 0 33px;
  background-image: url('../../images/banner-blur.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: var(--line-height-md);
}

.registration__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 241px;
}

.registration__form-wrap {
  max-width: 654px;
}

.registration__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 40px;
  line-height: var(--line-height-lg);
}

.registration__label {
  display: block;
  width: 100%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.registration__input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: var(--font-size-xl);
  padding: 20px 0 20px 30px;
  border-radius: var(--radius-sm);
  border: none;
  background: var(--color-dark-glass);
  margin: 20px 0 40px;
}

.registration__hint {
  font-size: var(--font-size-lg);
  color: var(--color-black-50);
  margin: 20px 0;
  line-height: var(--line-height-sm);
}

.phone-field {
  display: flex;
  gap: 36px;
  margin-bottom: 40px;
  align-items: center;
}

.phone-field__input-wrap {
  display: flex;
  align-items: center;
  border-radius: var(--radius-sm);
  padding-left: 30px;
  flex: 1;
  /* let input shrinking */
  background: var(--color-dark-glass);
  height: 70px;
}

.phone-field__flag {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.phone-field__chevron {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.phone-field__divider {
  width: 3px;
  height: 40px;
  background-color: var(--color-black-10);
  border-radius: 3px;
  margin-right: 10px;
}

.phone-field__input-wrap .registration__input {
  align-items: center;
  margin: 20px 0;
  padding-left: 0px;
  background: transparent;
  outline: none;
  width: 100%;
  height: 100%;
}

.phone-field .btn {
  padding: 20px 70px;
  box-shadow: none;
}

.registration__submit {
  margin-bottom: 40px;
}

.registration__submit .btn {
  width: 100%;
  box-shadow: none;
}

.registration__login-hint {
  color: var(--color-black-50);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.registration__login-hint a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.registration__login-hint a:hover {
  color: var(--color-black-50);
}

/* wrapper */
.registration__card-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* virus icon */
.registration__virus {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 99px;
  height: 95px;
  z-index: 2;
}

/* main card */
.vaccine-card {
  margin-bottom: 20px;
  border-radius: var(--radius-sm);
  object-fit: cover;
  display: block;
  background: var(--color-primary);
  color: var(--color-white);
}

/* title */
.vaccine-card__title {
  position: relative;
  top: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 2;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

/* image */
.vaccine-card__img {
  border-radius: var(--radius-sm);
  object-fit: cover;
  display: block;
}

/* button overlay */
.vaccine-card__btn {
  position: absolute;
  bottom: 80px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  padding: 13px 33px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: var(--radius-xs);
  font-size: var(--font-size-lg);
  background: var(--color-glass-20);
}

.vaccine-card__btn {
  transition: opacity 150ms ease;
  opacity: 0.85;
}
