.site-footer {
  padding: 400px 0 123px;
  position: relative;
  z-index: 1;
  margin-top: -200px;
  background-image: url(../../images/banner-dark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu menu--footer .menu__item--active a::after {
  display: none;
}

/* SOCIAL */
.site-footer__social {
  display: flex;
  gap: 10px;
}

.site-footer__social img {
  width: 50px;
  height: 50px;
}

.site-footer__social a:last-child {
  margin-left: -10px;
}

.site-footer__social a:hover {
  transition: opacity 150ms ease;
  opacity: 0.5;
}
