/* SECTION */
.symptoms {
  background-image: url(../../images/banner-dark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  padding-top: 67px;
  text-align: center;
  line-height: var(--line-height-md);
}

/* HEADER */
.symptoms__subtitle {
  margin-bottom: 20px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.symptoms__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 40px;
  line-height: var(--line-height-lg);
}

.symptoms__title span {
  color: var(--color-accent);
}

.symptoms__desc {
  max-width: 953px;
  margin: 0 auto 179px;
  color: var(--color-white-50);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

/* CONTENT */
.symptoms__content {
  position: relative;
  display: flex;
  justify-content: center;
}

/* IMAGE */
.symptoms__visual img {
  width: 709px;
  height: 530px;
  display: block;
  align-items: center;
}

/* LIST */
.symptoms__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--color-accent);
  padding-top: 35px;
  line-height: var(--line-height-xs);
}

/* LEFT & RIGHT POSITION */
.symptoms__list--primary {
  gap: 120px;
  left: 0;
}

.symptoms__list--primary .symptoms__item:nth-child(1) {
  margin-left: 177px;
  padding: 23px 60px;
}

.symptoms__list--primary .symptoms__item:nth-child(2) {
  padding: 23px 18px 23px 35px;
  margin-left: 77px;
}

.symptoms__list--primary .symptoms__item:nth-child(3) {
  padding: 23px 63px;
  margin-left: 27px;
}

.symptoms__list--secondary {
  gap: 120px;
  right: 0;
  align-items: flex-end;
}

.symptoms__list--secondary .symptoms__item:nth-child(1) {
  padding: 23px 33px 23px 56px;
  margin-right: 60px;
}

.symptoms__list--secondary .symptoms__item:nth-child(2) {
  padding: 23px 20px 23px 52px;
  margin-right: 10px;
}

.symptoms__list--secondary .symptoms__item:nth-child(3) {
  padding: 23px 57px 23px 74px;
  margin-right: -35px;
}

/* ITEM */
.symptoms__item {
  position: relative;
  background: var(--color-glass-20);
  border-radius: var(--radius-xs);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  width: fit-content;
}

/* ICON (virus) */
.symptoms__item::before {
  content: '';
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background: url('../../images/virus-pink.png') no-repeat center/cover;
}
