/* SECTION */
.symptoms {
  background-image: url(../../images/banner-dark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 67px;
  text-align: center;
}

/* HEADER */
.symptoms-subtitle {
  margin-bottom: 20px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.symptoms-title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 40px;
}

.symptoms-title span {
  color: var(--color-accent);
}

.symptoms-desc {
  max-width: 953px;
  margin: 0 auto 0;
  margin-bottom: 179px;
  color: var(--color-white-50);
  font-size: var(--font-size-xl);
  font-weight: var(--font-size-medium);
}

/* CONTENT */
.symptoms-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE */
.symptoms-image img {
  width: 709px;
  height: 530px;
  display: block;
}

/* LIST */
.symptoms-list {
  display: flex;
  flex-direction: column;
  color: var(--color-accent);
}

/* LEFT & RIGHT POSITION */
.symptoms-list.left {
  gap: 100px;
  transform: translateY(6px);
}

.symptoms-list.left .symptom-item:nth-child(1) {
  transform: translateX(56px);
}

.symptoms-list.left .symptom-item:nth-child(2) {
  transform: translateX(16px);
}

.symptoms-list.left .symptom-item:nth-child(3) {
  transform: translateX(-36px);
}

.symptoms-list.right {
  gap: 100px;
  transform: translateY(6px);
}

.symptoms-list.right .symptom-item:nth-child(1) {
  transform: translateX(-56px);
}

.symptoms-list.right .symptom-item:nth-child(2) {
  transform: translateX(-16px);
}

.symptoms-list.right .symptom-item:nth-child(3) {
  transform: translateX(36px);
}

/* ITEM */
.symptom-item {
  position: relative;
  background: var(--color-glass-20);
  padding: 23px 0 23px 60px;
  border-radius: var(--radius-xs);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  width: 300px;
}

/* ICON (virus) */
.symptom-item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background: url('../../images/virus-pink.png') no-repeat center/cover;
}
