body {
  font-family: var(--font-family-primary);
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1023px;
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
