body {
  font-family: var(--font-family-primary);
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 19.0625rem;
  /* 305px */
  margin: 0 auto;
  padding-inline: 2.1875rem;
  /* 35px */
}

@media (min-width: 48rem) {
  .container {
    max-width: 41.6875rem;
    /* 667px */
    padding-inline: 3.0625rem;
    /* 49px */
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 81.1875rem;
    /* 1299px */
    padding-inline: 4.375rem;
    /* 70px */
  }
}
