body {
  font-family: var(--font-family-primary);
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}
