.btn {
  font-size: var(--font-size-xl);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  box-shadow: var(--shadow-md);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  border: none;
  padding: 20px 26px;
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn-outline {
  background: var(--color-glass);
  color: var(--color-white);
  border: 2px solid var(--color-accent);
}

.btn-normal {
  background: var(--color-glass);
  color: var(--color-accent);
}

.btn-deco {
  background: var(--color-glass);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}
