/* BRAND */

.brands {
  position: relative;
  display: flex;

  padding-top: 0.375rem;
  /* 6px */
  padding-bottom: 0.25rem;
  /* 4px */

  background: var(--color-white);
}

.brands .container {
  max-width: 20.375rem;
  /* 326px */
  padding: 0;
}

.brands::before {
  content: '';
  position: absolute;
  inset: 0;

  background: var(--color-white-50);
  z-index: 1;
}

.brands__logos {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  /* 12px */
}

.brands__logos img {
  width: 4.5rem;
  /* 72px */
  object-fit: contain;
}

/* =========================
   TABLET
========================= */

@media (min-width: 48rem) {
  .brands {
    padding-top: 0.6875rem;
    /* 11px */
    padding-bottom: 0.5rem;
    /* 8px */
  }

  .brands .container {
    max-width: fit-content;
  }

  .brands__logos {
    gap: 1.5625rem;
    /* 25px */
  }

  .brands__logos img {
    width: 9.3125rem;
    /* 149px */
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64rem) {
  .brands {
    padding-top: 1.25rem;
    /* 20px */
    padding-bottom: 0.625rem;
    /* 10px */
  }

  .brands__logos {
    gap: 3rem;
    /* 48px */
  }

  .brands__logos img {
    width: 18.0625rem;
    /* 289px */
  }
}
