/* BRAND */

.brands {
  position: relative;
  display: flex;

  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-1);

  background: var(--color-white);
}

.brands .container {
  max-width: 20.375rem;
  padding: 0;
}

.brands::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;

  background: var(--color-white-50);
}

.brands__logos {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-5);
}

.brands__logos img {
  width: 4.5rem;
  object-fit: contain;
}

/* =========================
   TABLET
========================= */

@media (min-width: 48rem) {
  .brands {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-3);
  }

  .brands .container {
    max-width: fit-content;
  }

  .brands__logos {
    gap: var(--spacing-11);
  }

  .brands__logos img {
    width: 9.3rem;
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64rem) {
  .brands {
    padding-top: var(--spacing-9);
    padding-bottom: var(--spacing-4);
  }

  .brands__logos {
    gap: var(--spacing-23);
  }

  .brands__logos img {
    width: 18rem;
  }
}
