/* SECTION */
.checker {
  padding: var(--spacing-33) 0;
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CARD */
.checker__card {
  overflow: hidden;
  border-radius: var(--radius-sm);
  background: var(--color-glass);
}

/* TITLE */
.checker__title {
  padding: var(--spacing-6) var(--spacing-14);

  background: var(--color-glass);
  color: var(--color-white);

  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

/* FORM */
.checker__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-9);

  padding: var(--spacing-10) var(--spacing-6) var(--spacing-23);
}

/* INPUT */
.checker__form input {
  padding: var(--spacing-7) 0 var(--spacing-7) var(--spacing-8);

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

/* BUTTON */
.checker__form .btn {
  width: fit-content;
  padding: var(--spacing-7) var(--spacing-24);
  font-size: var(--font-size-sm);
}

/* INFO BAR */
.checker__hint {
  margin: 0 var(--spacing-6) var(--spacing-15);
  padding: var(--spacing-6) var(--spacing-4);

  border-radius: var(--radius-xs);
  background: var(--color-glass-30);

  text-align: center;
}

.checker__hint p,
.checker__hint a {
  display: inline;

  color: var(--color-accent);

  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

.checker__hint a {
  text-decoration: underline;
}

.checker__hint a:hover {
  color: var(--color-white);
}

/* TABLET */
@media (min-width: 48rem) {
  .checker {
    padding: var(--spacing-24) 0;
  }

  .checker__title {
    padding: var(--spacing-8) var(--spacing-35) var(--spacing-6);
    font-size: var(--font-size-lg);
  }

  .checker__form {
    padding: var(--spacing-19) var(--spacing-37) var(--spacing-22);
  }

  .checker__form input {
    padding: var(--spacing-9) 0 var(--spacing-9) var(--spacing-12);
    border-radius: var(--radius-sm);

    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .checker__form .btn {
    padding: var(--spacing-9) var(--spacing-25);
    border-radius: var(--radius-sm);

    font-size: var(--font-size-lg);
  }

  .checker__hint {
    margin: 0 var(--spacing-29) var(--spacing-22);
    border-radius: var(--radius-sm);
  }

  .checker__hint p,
  .checker__hint a {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xs);
  }
}

/* DESKTOP */
@media (min-width: 64rem) {
  .checker {
    padding: var(--spacing-30) 0;
  }

  .checker__card {
    padding-bottom: var(--spacing-14);
  }

  .checker__title {
    padding: var(--spacing-17) var(--spacing-35);
    font-size: var(--font-size-xl);
  }

  .checker__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-9);

    padding: var(--spacing-22) var(--spacing-35);
  }

  .checker__form input {
    padding: var(--spacing-9) 0 var(--spacing-9) var(--spacing-12);

    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .checker__form .btn {
    padding: var(--spacing-9) var(--spacing-22);

    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .checker__hint {
    margin: 0 var(--spacing-35);
    padding: var(--spacing-9);

    font-size: var(--font-size-xl);
  }

  .checker__hint p,
  .checker__hint a {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .checker__hint a {
    margin-left: var(--spacing-1);
  }
}
