/* SECTION */
.checker {
  padding: 2.5rem 0;
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CARD */
.checker__card {
  border-radius: var(--radius-sm);
  background: var(--color-glass);
  overflow: hidden;
}

/* TITLE */
.checker__title {
  padding: 0.875rem 1.9375rem;
  background: var(--color-glass);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-4xs);
  color: var(--color-white);
}

/* FORM */
.checker__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.3125rem 0.8125rem 3rem;
}

/* INPUT */
.checker__form input {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-3xs);
  padding: 1.0625rem 0 1rem 1.0625rem;
}

/* BUTTON */
.checker__form .btn {
  width: fit-content;
  padding: 1rem 3.1875rem;
  font-size: var(--font-size-sm);
}

/* INFO BAR */
.checker__hint {
  margin: 0 0.8125rem 2rem;
  border-radius: var(--radius-xs);
  background: var(--color-glass-30);
  text-align: center;
  padding: 0.8125rem 0.75rem;
}

.checker__hint p,
.checker__hint a {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent);
  line-height: var(--line-height-4xs);
  display: inline;
}

.checker__hint a {
  text-decoration: underline;
}

.checker__hint a:hover {
  color: var(--color-white);
}

/* TABLET */
@media (min-width: 48rem) {
  .checker {
    padding: 3.125rem 0;
  }

  .checker__title {
    padding: 1.125rem 6.125rem 0.8125rem;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }

  .checker__form {
    padding: 2.5rem 6.875rem 2.8125rem;
  }

  .checker__form input {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
    padding: 1.5625rem 0 1.5625rem 1.5625rem;
    border-radius: var(--radius-sm);
  }

  .checker__form .btn {
    padding: 1.25rem 3.3125rem;
    font-size: var(--font-size-lg);
    border-radius: var(--radius-sm);
  }

  .checker__hint {
    margin: 0 3.8125rem 2.8125rem;
    border-radius: var(--radius-sm);
  }

  .checker__hint p,
  .checker__hint a {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xxs);
  }
}

/* DESKTOP */
@media (min-width: 64rem) {
  .checker {
    padding: 3.875rem 0;
  }

  .checker__card {
    padding-bottom: 1.9375rem;
  }

  .checker__title {
    font-size: var(--font-size-xl);
    padding: 2.25rem 5.8125rem;
  }

  .checker__form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 2.1875rem 5.8125rem;
  }

  .checker__form input {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
    padding: 1.25rem 0 1.25rem 1.625rem;
  }

  .checker__form .btn {
    padding: 1.25rem 2.875rem;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .checker__hint {
    margin: 0 5.8125rem;
    padding: 1.25rem;
  }

  .checker__hint p,
  .checker__hint a {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .checker__hint a {
    margin-left: 0.25rem;
  }
}
