.site-hero {
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: var(--line-height-md);
}

/* HERO */

.hero {
  font-weight: var(--font-weight-bold);
  display: flex;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding-top: 2rem;
}

@media (min-width: 64rem) {
  .hero {
    padding: 6.25rem 0 0;
    /* 100px */
  }

  .hero__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* CONTENT */

.hero__content {
  /* width: 100%; */
  max-width: 18.5rem;
}

@media (min-width: 48rem) {
  .hero__content {
    max-width: 31.375rem;
  }
}

@media (min-width: 64rem) {
  .hero__content {
    max-width: 37.6875rem;
  }
}

/* SUBTITLE */

.hero__subtitle {
  color: var(--color-accent);
  font-size: var(--font-size-xs);
  margin-bottom: 1.25rem;
}

@media (min-width: 48rem) {
  .hero__subtitle {
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }
}

@media (min-width: 64rem) {
  .hero__subtitle {
    font-size: var(--font-size-xl);
    margin-bottom: 2.5rem;
  }
}

/* TITLE */

.hero__title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.hero__title span {
  color: var(--color-accent);
}

@media (min-width: 48rem) {
  .hero__title {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-2md);
  }
}

@media (min-width: 64rem) {
  .hero__title {
    font-size: var(--font-size-5xl);
    margin-bottom: 3.125rem;
    line-height: var(--line-height-lg);
  }
}

/* DESC */

.hero__desc {
  color: var(--color-white-70);
  margin-bottom: 2.5rem;
  font-size: var(--font-size-sm);
  max-width: 277px;
  line-height: var(--line-height-xxs);
}

@media (min-width: 48rem) {
  .hero__desc {
    max-width: 31.375rem;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }
}

@media (min-width: 64rem) {
  .hero__desc {
    max-width: 100%;
    font-size: var(--font-size-xl);
    margin-bottom: 3.125rem;
    line-height: var(--line-height-md);
  }
}

/* ACTIONS */

.hero__actions {
  display: flex;
  gap: 1.25rem;
  flex-direction: row;
}

.hero__actions button {
  flex: 1;
  padding: 1rem 1.5625rem;
  font-size: var(--font-size-sm);
  white-space: nowrap;
  border-radius: var(--radius-sm);
}

.hero__actions .btn--outline {
  color: var(--color-white);
}

@media (min-width: 48rem) {
  .hero__actions {
    max-width: 23.125rem;
  }

  .hero__actions button {
    font-size: var(--font-size-lg);
  }
}

@media (min-width: 64rem) {
  .hero__actions {
    max-width: 26.25rem;
  }

  .hero__actions button {
    font-size: var(--font-size-xl);
  }
}

.hero__visual {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

@media (min-width: 64rem) {
  .hero__visual {
    display: flex;
    justify-content: center;
  }
}

/* IMAGE */

.hero__img {
  width: 100%;
  max-width: 16rem;
  border-radius: 1.5rem;
  display: block;
}

@media (min-width: 48rem) {
  .hero__img {
    max-width: 33.25rem;
  }
}

@media (min-width: 64rem) {
  .hero__img {
    max-width: 32.5rem;
    border-radius: var(--radius-sm);
    object-fit: cover;
    display: block;
  }
}

/* BADGES */

.hero__badge {
  position: absolute;
  background: var(--color-white);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__badge img {
  width: 2.5rem;
  display: block;
}

@media (min-width: 48rem) {
  .hero__badge {
    border-radius: var(--radius-sm);
  }

  .hero__badge img {
    width: 5rem;
    object-fit: cover;
  }
}

/* LEFT BADGE */

.hero__badge--doctor {
  left: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 5px;
}

/* RIGHT BADGE */

.hero__badge--virus {
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px 5px;
}

@media (min-width: 48rem) {
  .hero__badge--doctor {
    padding: 17px 10px;
    left: -3.125rem;
  }

  .hero__badge--virus {
    padding: 14px 10px;
    right: -2.5rem;
  }
}

@media (min-width: 64rem) {
  .hero__badge img {
    width: 4.375rem;
  }

  .hero__badge--doctor {
    left: -50px;
    padding: 17px 10px;
  }

  .hero__badge--virus {
    right: -40px;
    padding: 13px 10px;
  }
}

/* DOCTORS CARD */

.hero__doctors {
  position: absolute;
  left: 37%;
  bottom: -2.1875rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.9375rem 1.25rem;
  background: var(--color-glass-20);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
}

@media (min-width: 48rem) {
  .hero__doctors {
    left: -3.125rem;
    transform: none;
    bottom: -2.875rem;
    gap: 1.25rem;
    padding: 20px 20px;
  }
}

@media (min-width: 64rem) {
  .hero__doctors {
    bottom: -2.875rem;
    left: -3.125rem;
    gap: 1.25rem;
    max-width: 22.125rem;
    min-height: 5rem;
    width: 100%;
    padding: 10px 0 10px 20px;
  }
}

/* AVATARS */

.doctors__avatars {
  display: flex;
  align-items: center;
}

.doctors__avatars img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  object-fit: cover;
  display: block;
}

.doctors__avatars img + img {
  margin-left: -3px;
}

@media (min-width: 48rem) {
  .doctors__avatars img {
    width: 3.75rem;
    height: 3.75rem;
  }

  .doctors__avatars img + img {
    margin-left: -5px;
  }
}

@media (min-width: 64rem) {
  .doctors__avatars img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: var(--radius-xs);
  }
}

/* META */

.doctors__meta {
  display: flex;
  flex-direction: column;
}

.doctors__count,
.doctors__label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
}

.doctors__count {
  color: var(--color-white);
}

.doctors__label {
  color: var(--color-accent);
}

@media (min-width: 48rem) {
  .doctors__count,
  .doctors__label {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }
}

@media (min-width: 64rem) {
  .doctors__count,
  .doctors__label {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }

  .doctors__label {
    margin-top: -5px;
  }
}
