/* SECTION */
.newsletter {
  position: relative;
  margin-top: -9.5rem;
  z-index: 2;
  line-height: var(--line-height-md);
}

/* CARD */
.newsletter__card {
  position: relative;
  z-index: 1;

  width: 17.5rem;
  margin: 0 auto;
  padding: var(--spacing-7) 0 var(--spacing-13);

  background: var(--color-accent);
  border-radius: var(--radius-xs);
  text-align: center;
}

/* WRAPPER EFFECT */
.newsletter__wrapper {
  position: relative;
}

.newsletter__wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 0;

  width: 19.0625rem;
  height: 12.875rem;

  background: var(--color-glass-10);
  border-radius: var(--radius-sm);
}

/* TITLE */
.newsletter__title {
  margin-bottom: var(--spacing-9);

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
  color: var(--color-white);
}

/* DESC */
.newsletter__desc {
  margin-bottom: var(--spacing-13);

  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
}

/* FORM */
.newsletter__form {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  max-width: fit-content;
  margin: 0 auto;

  overflow: hidden;
  border-radius: var(--radius-md);
  background: var(--color-white);
}

/* INPUT */
.newsletter__input {
  flex: 1;
  border: none;
  outline: none;

  padding: var(--spacing-6) var(--spacing-12) var(--spacing-6) var(--spacing-5);

  font-size: var(--font-size-2xs);
}

/* BUTTON */
.newsletter__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 3.625rem;
  height: 2.5rem;
  padding: var(--spacing-5) var(--spacing-12) var(--spacing-5) var(--spacing-6);

  border: none;
  background: var(--color-primary);
}

.newsletter__submit:hover {
  opacity: 0.7;
}

.newsletter__submit img {
  width: 1.4375rem;
}

/* =========================
   TABLET
========================= */
@media (min-width: 48rem) {
  .newsletter {
    top: 8.125rem;
  }

  .newsletter__card {
    width: 41.1875rem;
    padding: var(--spacing-7) 0 var(--spacing-27);

    border-radius: var(--radius-xl);
  }

  .newsletter__wrapper::before {
    width: 44.3125rem;
    height: 20rem;

    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius-xl);
  }

  .newsletter__title {
    margin-bottom: var(--spacing-9);

    font-size: var(--font-size-4xl);
    line-height: var(--line-height-2md);
  }

  .newsletter__desc {
    margin-bottom: var(--spacing-13);
    font-size: var(--font-size-lg);
  }

  .newsletter__form {
    height: 4.6875rem;
  }

  .newsletter__input {
    padding: var(--spacing-13) 12rem var(--spacing-13) var(--spacing-19);

    font-size: var(--font-size-lg);
  }

  .newsletter__submit {
    width: 6.25rem;
    height: 4.6875rem;
    padding: var(--spacing-9) var(--spacing-15) var(--spacing-10);
  }

  .newsletter__submit img {
    width: 2.5rem;
  }
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 64rem) {
  .newsletter {
    top: -1.875rem;
  }

  .newsletter__card {
    width: 64.4375rem;
    padding: var(--spacing-32) 0 var(--spacing-36);
  }

  .newsletter__wrapper::before {
    width: 66.6875rem;
    height: 27.1875rem;
  }

  .newsletter__title {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-xs);
  }

  .newsletter__desc {
    margin-bottom: var(--spacing-19);
    font-size: var(--font-size-xl);
  }

  .newsletter__input {
    font-size: var(--font-size-lg);
  }
}
