/* SECTION */
.reasons {
  padding: var(--spacing-3xl) 0;
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-white);
  line-height: var(--line-height-md);
}

/* HEADER */
.reasons__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-2xl);
}

.reasons__title {
  max-width: 16.25rem;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
}

.reasons__desc {
  color: var(--color-white-50);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xxs);
}

/* GRID */
.reasons__grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

/* PRIMARY CARD */
.reasons__primary-card {
  width: 100%;
}

/* SECONDARY CARDS */
.reasons__secondary-cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

/* SMALL CARD */
.reasons__secondary-cards .card {
  width: 100%;
}

/* TABLET */
@media (min-width: 48rem) {
  .reasons {
    padding: 3.625rem 0 var(--spacing-3xl);
  }

  .reasons__title {
    max-width: 31.5rem;

    font-size: var(--font-size-4xl);
    line-height: var(--line-height-2md);
  }

  .reasons__desc {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }

  .reasons__grid {
    gap: var(--spacing-3xl);
  }

  .reasons__secondary-cards {
    flex-direction: row;
    gap: var(--spacing-3xl);
  }
}

/* DESKTOP */
@media (min-width: 64rem) {
  .reasons {
    padding: 3.625rem 0 var(--spacing-6xl);
  }

  .reasons__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-3xl);
  }

  .reasons__title {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-lg);
  }

  .reasons__desc {
    max-width: fit-content;

    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }

  .reasons__grid {
    flex-direction: row;
    align-items: flex-end;
    gap: 4.56rem;
  }

  .reasons__secondary-cards {
    flex-direction: row;
    align-items: flex-end;
    gap: 4.56rem;
  }
}
