/* SECTION */
.reasons {
  padding: var(--spacing-20) 0;
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-white);
  line-height: var(--line-height-md);
}

/* HEADER */
.reasons__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7);
  margin-bottom: var(--spacing-19);
}

.reasons__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

.reasons__desc {
  color: var(--color-white-50);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
}

/* GRID */
.reasons__grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-14);
}

/* PRIMARY CARD */
.reasons__primary-card {
  width: 100%;
}

/* SECONDARY CARDS */
.reasons__secondary-cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-14);
}

/* SMALL CARD */
.reasons__secondary-cards .card {
  width: 100%;
}

/* TABLET */
@media (min-width: 48em) {
  .reasons {
    padding: var(--spacing-26) 0 var(--spacing-22);
  }

  .reasons__title {
    max-width: 31.5rem;

    font-size: var(--font-size-4xl);
    line-height: var(--line-height-xs);
  }

  .reasons__desc {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .reasons__grid {
    gap: var(--spacing-19);
  }

  .reasons__secondary-cards {
    flex-direction: row;
    gap: var(--spacing-17);
  }
}

/* DESKTOP */
@media (min-width: 64em) {
  .reasons {
    padding: var(--spacing-28) 0 var(--spacing-33);
  }

  .reasons__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-19);
  }

  .reasons__title {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-xs);
  }

  .reasons__desc {
    max-width: fit-content;

    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .reasons__grid {
    flex-direction: row;
    align-items: flex-end;
    gap: 4.65rem;
  }

  .reasons__secondary-cards {
    flex-direction: row;
    align-items: flex-end;
    gap: var(--spacing-32);
  }
}
