/* SECTION */

.scheduler {
  padding-top: var(--spacing-33);
}

/* HEADER */

.scheduler__header {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-13);
}

.scheduler__title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* BAR */

.scheduler__bar {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  padding: var(--spacing-9) 0 var(--spacing-4) var(--spacing-4);
  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  background: var(--color-glass);
}

/* TOP LAYER */

.scheduler__bar::before {
  content: '';
  position: absolute;
  inset: 0;
  top: auto;
  height: calc(100% + var(--spacing-4));

  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  background: var(--color-glass-30);
  z-index: -1;
}

/* FIELD */

.scheduler__field {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

/* ICON */

.scheduler__field-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size-md);
  height: var(--icon-size-md);
  border-radius: var(--radius-xs);
  background: var(--color-glass);
}

.scheduler__field-icon img {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

/* TEXT */

.scheduler__field-text {
  display: flex;
  flex-direction: column;
}

.scheduler__field-label,
.scheduler__field-value {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
}

.scheduler__field-label {
  font-weight: var(--font-weight-semibold);
  color: var(--color-white-50);
}

.scheduler__field-value {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* BUTTON */

.scheduler__bar .btn {
  width: fit-content;
  padding: var(--spacing-7) var(--spacing-23);
}

/* =========================
   TABLET
========================= */

@media (min-width: 48rem) {
  .scheduler {
    padding-top: var(--spacing-34);
  }

  .scheduler__header {
    margin-bottom: var(--spacing-21);
  }

  .scheduler__title {
    font-size: var(--font-size-xl);
  }

  .scheduler__bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-19) var(--spacing-24);
    padding: var(--spacing-18) 0 var(--spacing-22) var(--spacing-5);
  }

  .scheduler__field {
    gap: var(--spacing-9);
  }

  .scheduler__field-icon {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }

  .scheduler__field-icon img {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }

  .scheduler__field-label,
  .scheduler__field-value {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }

  .scheduler__bar .btn {
    padding: var(--spacing-9) var(--spacing-34);
    border-radius: var(--radius-sm);
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64rem) {
  .scheduler {
    padding-top: var(--spacing-11);
  }

  .scheduler__header {
    margin-bottom: var(--spacing-9);
  }

  .scheduler__bar {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: var(--spacing-22) var(--spacing-19);
    gap: var(--spacing-24);
  }

  .scheduler__field-label,
  .scheduler__field-value {
    white-space: nowrap;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .scheduler__bar .btn {
    width: fit-content;
    padding: var(--spacing-9) var(--spacing-11);
    margin-left: auto;
  }
}
