/* SECTION */

.scheduler {
  padding-top: 4.5625rem;
}

/* HEADER */

.scheduler__header {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs-sm);
  margin-bottom: var(--spacing-lg);
}

.scheduler__title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* BAR */

.scheduler__bar {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  padding: var(--spacing-lg) 0 var(--spacing-xs-sm) var(--spacing-xs-sm);
  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  background: var(--color-glass);
}

/* TOP LAYER */

.scheduler__bar::before {
  content: '';
  position: absolute;
  inset: 0;
  top: -0.625rem;

  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  background: var(--color-glass-30);
  z-index: -1;
}

/* FIELD */

.scheduler__field {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs-sm);
}

/* ICON */

.scheduler__field-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.875rem;
  height: 1.875rem;
  border-radius: var(--radius-xs);
  background: var(--color-glass);
}

.scheduler__field-icon img {
  width: 1.25rem;
  height: 1.25rem;
}

/* TEXT */

.scheduler__field-text {
  display: flex;
  flex-direction: column;
}

.scheduler__field-label,
.scheduler__field-value {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
}

.scheduler__field-label {
  font-weight: var(--font-weight-semibold);
  color: var(--color-white-50);
}

.scheduler__field-value {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* BUTTON */

.scheduler__bar .btn {
  width: fit-content;
  padding: var(--spacing-md) var(--spacing-4xl);
}

/* =========================
   TABLET
========================= */

@media (min-width: 48rem) {
  .scheduler {
    margin-top: var(--spacing-3xl);
  }

  .scheduler__title {
    font-size: var(--font-size-xl);
  }

  .scheduler__bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-3xl) 3.125rem;

    margin-top: var(--spacing-2xl);
    padding: 2.5625rem 0 2.8125rem var(--spacing-sm);
  }

  .scheduler__field {
    gap: var(--spacing-lg);
  }

  .scheduler__field-icon {
    width: 3.125rem;
    height: 3.125rem;
  }

  .scheduler__field-icon img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .scheduler__field-label,
  .scheduler__field-value {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-sm);
  }

  .scheduler__bar .btn {
    padding: var(--spacing-lg) 5.5625rem;
    border-radius: var(--radius-sm);
  }
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 64rem) {
  .scheduler {
    padding-top: 0;
  }

  .scheduler__bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 3.125rem var(--spacing-3xl) var(--spacing-3xl);
  }

  .scheduler__field-label,
  .scheduler__field-value {
    display: flex;
    white-space: nowrap;

    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .scheduler__bar .btn {
    width: fit-content;
    padding: var(--spacing-lg) var(--spacing-xl);
    margin-left: 5.625rem;
  }
}