/* SECTION */
.site-footer {
  position: relative;
  z-index: 1;

  margin-top: -3.75rem;
  /* -60px */
  padding: 8.75rem 0 2.8125rem;
  /* 140px 0 45px */

  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* INNER */
.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-footer .logo {
  padding-bottom: 0.625rem;
  /* 10px */
}

.site-footer .menu {
  display: flex;
}

/* MENU */
.menu--footer {
  margin-bottom: 1.25rem;
  /* 20px */
}

.menu--footer .menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  /* 10px */
  margin-top: 1.25rem;
  /* 20px */
}

.menu--footer .menu__item a {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
}

/* REMOVE UNDERLINE ACTIVE */
.menu--footer .menu__item--active a::after {
  display: none;
}

/* SOCIAL */
.site-footer__social {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* 4px */

  list-style: none;
}

.site-footer__social-item {
  display: flex;
}

.site-footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 150ms ease;
}

.site-footer__social a:hover {
  opacity: 0.5;
}

.site-footer__social li:last-child {
  margin-left: -0.3125rem;
  /* -5px */
}

.site-footer__social img {
  width: 1.125rem;
  /* 18px */
  height: 1.125rem;
  /* 18px */
  object-fit: contain;
}

/* =========================
   TABLET
========================= */
@media (min-width: 48rem) {
  .site-footer {
    padding: 17.5rem 0 3.1875rem;
    /* 280px 0 51px */
  }

  .menu--footer {
    margin-bottom: 2.5rem;
    /* 40px */
  }

  .menu--footer .menu__list {
    flex-direction: row;
    gap: 1.5625rem;
    /* 25px */
    margin-top: 2.5rem;
    /* 40px */
  }

  .menu--footer .menu__item a {
    font-size: var(--font-size-lg);
  }

  .site-footer__social {
    gap: 0.4375rem;
    /* 7px */
  }

  .site-footer__social img {
    width: 2rem;
    /* 32px */
    height: 2rem;
  }
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 64rem) {
  .site-footer {
    margin-top: -15rem;
    /* -240px */
    padding: 20.5rem 0 7.6875rem;
    /* 328px 0 123px */
  }

  .site-footer__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu--footer {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .menu--footer .menu__list {
    margin: 0;
  }

  .menu--footer .menu__item a {
    font-size: var(--font-size-xl);
  }

  .site-footer__social {
    gap: 0.625rem;
    /* 10px */
  }

  .site-footer__social img {
    width: 3.125rem;
    /* 50px */
    height: 3.125rem;
  }

  .site-footer__social li:last-child {
    margin-left: -0.625rem;
    /* -10px */
  }
}
