/* SECTION */
.site-footer {
  position: relative;
  z-index: 1;
  padding: 0 0 var(--spacing-14);

  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* INNER */
.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-footer .logo {
  padding-bottom: var(--spacing-4);
}

.site-footer .menu {
  display: flex;
}

/* MENU */
.menu--footer {
  margin-bottom: var(--spacing-9);
}

.menu--footer .menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-9);
}

.menu--footer .menu__item a {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
}

/* REMOVE UNDERLINE ACTIVE */
.menu--footer .menu__item--active a::after {
  display: none;
}

/* SOCIAL */
.site-footer__social {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);

  list-style: none;
}

.site-footer__social-item {
  display: flex;
}

.site-footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer__social a:hover {
  opacity: 0.5;
}

.site-footer__social li:last-child {
  margin-left: calc(-1 * var(--spacing-2));
}

.site-footer__social img {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  object-fit: contain;
}

/* =========================
   TABLET
========================= */
@media (min-width: 48em) {
  .site-footer {
    padding: 0 0 var(--spacing-24);
  }

  .menu--footer {
    margin-bottom: var(--spacing-19);
  }

  .menu--footer .menu__list {
    flex-direction: row;
    gap: var(--spacing-12);
    margin-top: var(--spacing-19);
  }

  .menu--footer .menu__item a {
    font-size: var(--font-size-lg);
  }

  .site-footer__social {
    gap: var(--spacing-2);
  }

  .site-footer__social img {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 64em) {
  .site-footer {
    padding: 0 0 var(--spacing-38);
  }

  .site-footer__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu--footer {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .menu--footer .menu__list {
    margin: 0;
  }

  .menu--footer .menu__item a {
    font-size: var(--font-size-xl);
  }

  .site-footer__social {
    gap: var(--spacing-4);
  }

  .site-footer__social img {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }

  .site-footer__social li:last-child {
    margin-left: calc(-1 * var(--spacing-4));
  }
}
