/* SECTION */
.symptoms {
  background-image: url('../../images/banner-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
  padding-top: var(--spacing-12);

  color: var(--color-white);
  text-align: center;
  line-height: var(--line-height-xs);
}

/* HEADER */
.symptoms__subtitle {
  margin-bottom: var(--spacing-4);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
}

.symptoms__title {
  margin-bottom: var(--spacing-4);

  color: var(--color-white);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-xs);
}

.symptoms__title span {
  color: var(--color-accent);
}

.symptoms__desc {
  margin: 0 auto var(--spacing-14);

  color: var(--color-white-50);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
}

.symptoms__desc span {
  display: block;
}

/* CONTENT */
.symptoms__content {
  position: relative;

  display: flex;
  justify-content: center;
}

/* IMAGE */
.symptoms__visual img {
  display: block;
  width: 14rem;
  height: auto;
}

/* LIST */
.symptoms__list {
  position: absolute;

  display: flex;
  flex-direction: column;

  padding-top: var(--spacing-6);
  line-height: var(--line-height-xs);
}

/* LEFT */
.symptoms__list--primary {
  left: -1.25rem;
}

.symptoms__list--primary .symptoms__item:nth-child(1) {
  margin: 0 0 var(--spacing-9) 3.9375rem;
}

.symptoms__list--primary .symptoms__item:nth-child(2) {
  margin: 0 0 var(--spacing-9) 2.1875rem;
}

.symptoms__list--primary .symptoms__item:nth-child(3) {
  margin-left: var(--spacing-4);
}

/* RIGHT */
.symptoms__list--secondary {
  right: -1.25rem;
  align-items: flex-end;
}

.symptoms__list--secondary .symptoms__item:nth-child(1) {
  margin: 0 var(--spacing-9) var(--spacing-9) 0;
}

.symptoms__list--secondary .symptoms__item:nth-child(2) {
  margin-bottom: var(--spacing-9);
}

.symptoms__list--secondary .symptoms__item:nth-child(3) {
  margin-right: -0.3125rem;
}

/* ITEM */
.symptoms__item {
  position: relative;

  width: fit-content;
  padding: var(--spacing-4) 0.3125rem var(--spacing-4) var(--spacing-6);
  border-radius: var(--radius-xxs);

  background: var(--color-glass-20);
  color: var(--color-accent);

  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
}

/* ICON */
.symptoms__item::before {
  content: '';

  position: absolute;
  top: 50%;
  left: -1.125rem;

  width: var(--icon-size-md);
  height: var(--icon-size-md);

  transform: translateY(-50%);
  background: url('../../images/virus-pink.png') no-repeat center / cover;
}

/* TABLET */
@media (min-width: 48rem) {
  .symptoms {
    padding-top: var(--spacing-19);
  }

  .symptoms__subtitle {
    margin-bottom: var(--spacing-4);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .symptoms__title {
    margin-bottom: var(--spacing-19);
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-xs);
  }

  .symptoms__desc {
    max-width: 34.5625rem;
    margin-bottom: var(--spacing-26);

    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .symptoms__visual img {
    width: 28.6875rem;
  }

  .symptoms__list {
    padding-top: var(--spacing-12);
  }

  .symptoms__list--primary .symptoms__item:nth-child(1) {
    margin: 0 0 var(--spacing-17) 7.75rem;
    padding: var(--spacing-5) var(--spacing-7) var(--spacing-5)
      var(--spacing-16);
  }

  .symptoms__list--primary .symptoms__item:nth-child(2) {
    margin: 0 0 var(--spacing-17) 3.4375rem;
    padding: var(--spacing-5) var(--spacing-7) var(--spacing-5)
      var(--spacing-16);
  }

  .symptoms__list--primary .symptoms__item:nth-child(3) {
    /* margin-left: var(--spacing-xs-sm); */
    padding: var(--spacing-4) var(--spacing-6) var(--spacing-4) 2.1875rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(1) {
    /* margin: 0 0.3125rem var(--spacing-4xl) 0; */
    padding: var(--spacing-5) var(--spacing-5) var(--spacing-5) 2.25rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(2) {
    /* margin: 0 -0.3125rem var(--spacing-4xl) 0; */
    padding: var(--spacing-5) var(--spacing-4) var(--spacing-5) 1.9375rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(3) {
    margin-right: -0.9375rem;
    padding: var(--spacing-4) var(--spacing-6) var(--spacing-4) 2.5625rem;
  }

  .symptoms__item {
    border-radius: var(--radius-xs);
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .symptoms__item::before {
    left: -2.0625rem;
    width: 4.0625rem;
    height: 4.0625rem;
  }
}

/* DESKTOP */
@media (min-width: 64rem) {
  .symptoms {
    padding-top: calc((var(--spacing-31) + var(--spacing-32)) / 2);
  }

  .symptoms__subtitle {
    margin-bottom: var(--spacing-9);
    font-size: var(--font-size-xl);
  }

  .symptoms__title {
    margin-bottom: var(--spacing-19);
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-xs);
  }

  .symptoms__desc {
    max-width: 59.5625rem;
    margin: 0 auto 11.1875rem;

    font-size: var(--font-size-xl);
    line-height: var(--line-height-xs);
  }

  .symptoms__desc span {
    display: inline;
  }

  .symptoms__visual img {
    width: 44.3125rem;
  }

  .symptoms__list {
    padding-top: var(--spacing-16);
  }

  .symptoms__item {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .symptoms__item::before {
    width: 6.25rem;
    height: 6.25rem;
  }

  .symptoms__list--primary .symptoms__item:nth-child(1) {
    margin-left: 11.0625rem;
    padding: 1.4375rem 3.75rem 1.4375rem 5.625rem;
  }

  .symptoms__list--primary .symptoms__item:nth-child(2) {
    position: relative;

    transform: translateY(15rem);

    margin-left: var(--spacing-2xl);
    padding: 1.4375rem 3.9375rem 1.4375rem 4.9375rem;
  }

  .symptoms__list--primary .symptoms__item:nth-child(3) {
    position: relative;
    top: -3.5rem;

    margin-left: 5.4375rem;
    padding: 1.4375rem var(--spacing-lg) 1.4375rem 4.9375rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(1) {
    margin: 0 7.875rem 7.0625rem 0;
    padding: 1.4375rem 2.0625rem 1.4375rem 4.125rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(2) {
    margin: 0 3.75rem 6.3125rem 0;
    padding: 1.4375rem var(--spacing-lg) 1.4375rem 4.5rem;
  }

  .symptoms__list--secondary .symptoms__item:nth-child(3) {
    margin-right: var(--spacing-xs-sm);
    padding: 1.4375rem 3.5625rem 1.4375rem 4.625rem;
  }
}
