/* SECTION */
.testimonials {
  position: relative;

  overflow: hidden;
  padding: var(--spacing-14) 0 10rem;
  text-align: center;

  background: url('../../images/banner-blur.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-black);
  line-height: var(--line-height-md);
}

/* BACKGROUND */
.testimonials__bg {
  position: absolute;
  inset: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: var(--spacing-6);
  align-self: center;
  justify-self: center;
}

.testimonials__bg-img {
  width: 7.75rem;
  opacity: 1;
}

/* CONTENT ABOVE BG */
.testimonials .container {
  position: relative;
  z-index: 2;
}

/* HEADER */
.testimonials__subtitle {
  margin-bottom: var(--spacing-9);

  color: var(--color-accent);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.testimonials__title {
  width: max-content;
  margin: 0 auto var(--spacing-4);

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-xs);
}

.testimonials__desc {
  max-width: 15.5rem;
  margin: 0 auto var(--spacing-5);

  color: var(--color-black-50);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
}

.testimonials__desc span {
  display: inline-block;
}

.testimonials__desc-long {
  display: none;
}

/* LIST */
.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-14);
}

/* USER */
.testimonial__user {
  display: flex;
  align-items: center;
  gap: var(--spacing-7);

  margin-bottom: var(--spacing-14);
}

.testimonial__user img {
  width: calc((var(--icon-size-xxl) + var(--icon-size-xl)) / 2);
  height: calc((var(--icon-size-xxl) + var(--icon-size-xl)) / 2);

  border-radius: var(--radius-sm-xs);
  object-fit: cover;
}

.testimonial__user .testimonial__name {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
}

.testimonial__user .testimonial__location {
  display: flex;
  justify-content: flex-start;

  color: var(--color-black-50);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-md);
}

/* QUOTE */
.testimonial__quote {
  color: var(--color-black-50);

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
}

.testimonial__highlight {
  color: var(--color-accent);
}

/* TABLET */
@media (min-width: 48em) {
  .testimonials {
    padding: var(--spacing-22) 0 10.25rem;
  }

  .testimonials__bg {
    top: 7rem;
    gap: 0;
  }

  .testimonials__bg-img {
    width: 10.87rem;
    height: 17.68rem;
  }

  .testimonials__list {
    align-items: center;
    gap: var(--spacing-14);
  }

  .testimonials__subtitle {
    margin-bottom: var(--spacing-9);
    font-size: var(--font-size-lg);
  }

  .testimonials__title {
    margin-bottom: var(--spacing-19);
    font-size: var(--font-size-4xl);
  }

  .testimonials__desc {
    max-width: max-content;
    margin-bottom: var(--spacing-29);

    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .testimonials__desc span {
    display: block;
  }

  .testimonial {
    max-width: 21.25rem;
    padding: var(--spacing-14) var(--spacing-14) var(--spacing-21);
    border-radius: var(--radius-sm);
  }

  .testimonial__user {
    margin-bottom: var(--spacing-19);
  }

  .testimonial__user img {
    width: var(--icon-size-2xl);
    height: var(--icon-size-2xl);
  }

  .testimonial__user .testimonial__name {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
  }

  .testimonial__user .testimonial__location {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xs);
  }

  .testimonial__quote {
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }
}

/* DESKTOP */
@media (min-width: 64em) {
  .testimonials {
    padding: var(--spacing-28) 0 18.75rem;
  }

  .testimonials__bg {
    bottom: 0;
    top: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 9.3rem;
  }

  .testimonials__bg-img {
    width: 18.37rem;
    height: 29.93rem;
  }

  .testimonials__subtitle {
    margin-bottom: var(--spacing-9);
    font-size: var(--font-size-xl);
  }

  .testimonials__title {
    margin-bottom: var(--spacing-19);

    font-size: var(--font-size-5xl);
    line-height: var(--line-height-xs);
  }

  .testimonials__desc {
    display: none;
  }

  .testimonials__desc-long {
    display: block;
    margin: 0 auto var(--spacing-36);

    color: var(--color-black-50);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);
  }

  .testimonials__desc-long span {
    display: inline-block;
  }

  .testimonials__list {
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-22);
  }

  .testimonial {
    max-width: 25rem;
    padding: var(--spacing-14) var(--spacing-14) var(--spacing-21);
  }

  .testimonial__user .testimonial__name {
    font-size: var(--font-size-xl);
  }
}
