.topbar {
  display: flex;
}

.topbar__inner {
  display: flex;
  padding-top: var(--spacing-27);
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  display: inline-block;

  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-size: 5rem 3px;
  /* 80px 3px */
  background-repeat: no-repeat;
  background-position: left bottom;

  padding-bottom: var(--spacing-1);
  /* 5px */
}

.btn--icon {
  width: var(--icon-size-md);
  /* 30px */
  height: var(--icon-size-md);
}

.btn--list {
  background-color: var(--color-glass-20);
  padding: var(--spacing-3);
  /* 7px */
}

@media (max-width: 64em) {
  .btn--header {
    display: none;
  }
}

@media (min-width: 48em) {

  /* 768px */
  .btn--icon {
    width: var(--icon-size-2md);
    height: var(--icon-size-2md);
  }

  .btn--list {
    padding: var(--spacing-2);
  }

  .logo {
    font-size: var(--font-size-2xl);

    padding-bottom: 0;
  }
}

@media (min-width: 64em) {
  .logo {
    font-size: var(--font-size-3xl);
    background-size: 6.25rem 3px;
    /* 100px 3px */
  }

  /* 1024px */
  .btn--list {
    display: none;
  }

  .menu__item--active a::after {
    content: '';
    position: absolute;
    top: calc(100% + var(--spacing-1));
    left: 50%;
    transform: translateX(-50%);

    width: var(--icon-size-xs);
    /* 10px */
    height: var(--icon-size-xs);

    background-color: var(--color-accent);
    border-radius: 50%;
  }

  .menu__item a {
    position: relative;
  }

  .menu__list {
    gap: var(--spacing-11);
    /* 25px */
    flex-direction: row;
  }
}
