.topbar {
  display: flex;
}

.topbar__inner {
  display: flex;

  padding-top: var(--spacing-27);

  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;

  padding-bottom: var(--spacing-1);

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: none;

  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 5rem 3px;
}

.btn--icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.btn--list {
  padding: var(--spacing-3);

  background-color: var(--color-glass-20);
}

@media (max-width: 64em) {
  .btn--header {
    display: none;
  }
}

@media (min-width: 48em) {
  .btn--icon {
    width: var(--icon-size-2md);
    height: var(--icon-size-2md);
  }

  .btn--list {
    padding: var(--spacing-2);
  }

  .logo {
    padding-bottom: 0;

    font-size: var(--font-size-2xl);
  }
}

@media (min-width: 64em) {
  .logo {
    font-size: var(--font-size-3xl);

    background-size: 6.25rem 3px;
  }

  .btn--list {
    display: none;
  }

  .menu__item a {
    position: relative;
  }

  .menu__item--active a::after {
    content: '';

    position: absolute;
    top: calc(100% + var(--spacing-1));
    left: 50%;
    transform: translateX(-50%);

    width: var(--icon-size-xs);
    height: var(--icon-size-xs);

    background-color: var(--color-accent);
    border-radius: 50%;
  }

  .menu__list {
    display: flex;
    gap: var(--spacing-11);

    flex-direction: row;
  }
}
