.topbar {
  display: flex;
}

.topbar__inner {
  height: 2.8125rem;
  /* 45px */
  display: flex;
  padding-top: 2.5625rem;
  /* 41px */
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  display: inline-block;

  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-size: 6.25rem 0.1875rem;
  /* 100px 3px */
  background-repeat: no-repeat;
  background-position: left bottom;

  padding-bottom: 0.3125rem;
  /* 5px */
}

.btn--icon {
  width: 1.875rem;
  /* 30px */
  height: 1.875rem;
}

.btn--list {
  background-color: var(--color-glass-20);
  padding: 0.4375rem;
  /* 7px */
}

@media (max-width: 63.9375rem) {
  /* 1023px */
  .btn--header {
    display: none;
  }
}

@media (min-width: 48rem) {
  /* 768px */
  .btn--icon {
    width: 2.8125rem;
    /* 45px */
    height: 2.8125rem;
  }

  .logo {
    font-size: var(--font-size-2xl);
  }
}

@media (min-width: 64rem) {
  .logo {
    font-size: var(--font-size-3xl);
  }

  /* 1024px */
  .btn--list {
    display: none;
  }

  .menu__item--active a::after {
    content: '';
    position: absolute;
    bottom: -0.9375rem;
    /* -15px */
    left: 50%;
    transform: translateX(-50%);

    width: 0.625rem;
    /* 10px */
    height: 0.625rem;

    background-color: var(--color-accent);
    border-radius: 50%;
  }

  .menu__item a {
    position: relative;
  }

  .menu__list {
    gap: 1.5625rem;
    /* 25px */
    flex-direction: row;
  }
}
